@page "/SteamTags"
@using Pekkupekku.Shared
@inject HttpClient _http
<PageTitle>Steam Tags</PageTitle>
<h3>Steam Tags</h3>

@if (tagsResult == null)
{
    if (reasonPhrase == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p><strong>@reasonPhrase:</strong> This may be caused by Steam not responding.</p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tagsResult.Tags)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private TagsResult? tagsResult;
    private string? reasonPhrase;

    protected override async Task OnInitializedAsync()
    {

        var response = await _http.GetAsync("SteamApi/tags");
        if (response.IsSuccessStatusCode)
        {
            tagsResult = await response.Content.ReadFromJsonAsync<TagsResult>();
        }
        else
        {
            reasonPhrase = response.ReasonPhrase;
        }
    }
}